body {
  background-color: black;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 1em;
line-height: 1.5em;
margin: 20em auto;
margin-top: 50px; 
margin-bottom: 100px;
max-width: 35em; 

}

table {
background-color: #000000;
}

rounded-corners {
  border-radius: 100px;

}


#rcorners1 {
  border-radius: 25px;
  background: #b9117e;
  padding: 20px;
  width: 200px;
  height: 150px;
}


a:link {
  color: pink; 
  background-color: transparent; 
  text-decoration: underline;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

.collapsible {
  background-color: #000;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}



